#about {
    background: rgb(2, 6, 23);
    margin-bottom: 3%;
}

.title-about {
    color: rgb(218, 112, 214);
    font-family: 'Mulish';
    font-weight: 600;
    font-size: 2.8em;
    margin: 0 14%; 
}

.card-about {
    background-color: rgb(33, 37, 41);
    border-radius: 10px;
    width: 80%; 
    max-width: 90%;
    height: auto;
    padding: 20px;
    margin-left: 5%;
    position: relative;

    .text-about {
        color: rgb(240, 255, 255);
        font-size: 1.1em;
        font-family: 'Montserrat', sans-serif;
        margin-top: 10px;
        padding: 5px;
        overflow-wrap: break-word; 
        text-align: justify;
    }

    ::after {
        content: "";
        position: absolute;
        top: -30px;
        right: -30px;
        border-top: 7px solid rgb(218, 112, 214);
        border-left: 7px solid rgb(218, 112, 214);
        rotate: 90deg;
        height: 15rem;
        width: 15rem;
    }

    
    ::before {
        content: "";
        position: absolute;
        bottom: -30px;
        left: -30px;
        border-top: 7px solid rgb(218, 112, 214);
        border-left: 7px solid rgb(218, 112, 214);
        rotate: 270deg;
        height: 15rem;
        width: 15rem;
    }   
}

.light-mode {
    #about {
        background: rgb(184, 135, 167);
    }

    .title-about {
        color: rgb(39, 44, 49);
    }

    .card-about {
        background-color: rgb(156, 97, 151);

        ::after, ::before {
            border-top: 7px solid rgb(39, 44, 49);
            border-left: 7px solid rgb(33, 44, 49);
        }
    }
}

.img-about {
    max-width: 100%; 
    height: auto; 
    position: relative;

    img {
        max-width: 60%;
        height: auto; 
        margin: 0 auto; 
        display: block; 
        border-radius: 4%;
        margin-left: 5%;
    }
}

// Media queries para responsividade 

@media only screen and (min-width: 992px) and (max-width: 1410px) {
    .title-about {
        margin: 0 14%; 
        padding-right: 28%;
        word-break: break-word; 
        width: 60%;
    }
}

@media only screen and (min-width: 855px) and (max-width: 991.5px) {
    .title-about {
        word-break: break-word; 
        width: 60%;
    }

    .text-about {
        overflow-y: auto;
        max-height: 28rem;
    }

    .img-about {
        display: none !important;
    }
}


@media only screen and (min-width: 500px) and (max-width: 885px) {
    .title-about {
        margin: 0 2% 0 3%; 
        padding-right: 3%;
        word-break: break-word; 
        font-size: 2.4em;
        width: 60%;
    }

    .text-about {
        overflow-y: auto;
        max-height: 28rem;
    }

    .img-about {
        display: none !important;
    }
}

@media only screen and (min-width: 300px) and (max-width: 500px) {
    .card-about {
        ::after, ::before {
            display: none;
        }
    }

    .title-about {
        font-size: 2em;
        text-align: center;
    }

    .text-about {
        font-size: 0.07em;
        text-align: left !important;
        overflow-y: auto;
        max-height: 28rem;
    }

    .img-about {
        display: none !important;
    }
}

