//Card do texto
.card-body-main {
    background-color: transparent;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    z-index: 2;
}

.card-title-main {
    width: 25%;
    color: rgb(255, 255, 255);
    transform: rotate(-5deg);
    transform-origin: bottom left;
    font-family: 'Dancing Script', cursive;
    font-size: 2.1em;
}

.card-text-main {
    color: rgb(255, 255, 255);
    width: 56%;
    font-size: 3.2em;
    font-weight: 600;
    letter-spacing: .6px;
    font-family: 'Wellfleet', sans-serif;
    text-align: left;
    margin: 0 0 0 30px;
} 

//Media queries para responsividade 

@media only screen and (min-width: 800px) and (max-width: 1400px){
    .card-title-main {
        font-size: 2em;
    }

    .card-text-main {
        font-size: 2.9em;
    }
}


@media only screen and (min-width: 650px) and (max-width: 800px){
    .card-main, .col-md-8 {
        background-color: var(--bs-dark) !important;
        display: flex; 
        justify-content: center !important;
        align-items: center !important;
        height: 100vh;
        width: 100vh;
        margin: 0;
    }

    .row-body {
        display: flex; 
        justify-content: center !important;
        align-items: center !important;
    }

    .col-md-4 {
        display: none;
    }

    .card-title-main {
        font-size: 1.8em;
    }

    .card-text-main {
        font-size: 2.5em;
        width: auto;
    }    
}

@media only screen and (min-width: 300px) and (max-width: 650px){
    .card-main {
        background-color: var(--bs-dark) !important;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .card-title-main {
        font-size: 1.6em;
    }

    .card-text-main {
        font-size: 1.7em;
        width: auto;
    }
}
