//Card do texto
.card-body-main {
    background-color: transparent;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    z-index: 2;
}

.card-title-main {
    width: 36vh;
    color: rgb(255, 255, 255);
    transform: rotate(-5deg);
    transform-origin: bottom left;
    font-family: 'Dancing Script', cursive;
    font-size: 2.1em;
}

.card-text-main {
    color: rgb(255, 255, 255);
    width: 55%;
    font-size: 3.2em;
    letter-spacing: .6px;
    font-family: 'Wellfleet', sans-serif;
} 

//Media queries para responsividade 

@media only screen and (min-width: 800px) and (max-width: 1400px){
    .card-title-main {
        font-size: 2em;
    }

    .card-text-main {
        font-size: 2.9em;
    }
}


@media only screen and (min-width: 600px) and (max-width: 800px){
    .row {
        display: none;
    }

    .card-title-main {
        font-size: 1.9em;
    }

    .card-text-main {
        font-size: 2.5em;
        width: auto;
    }

    .card-main {
        background-color: var(--bs-dark) !important;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100vh;
        margin: 0 80px;
    }
}

@media only screen and (min-width: 300px) and (max-width: 600px){
    .card-title-main {
        font-size: 1.8em;
    }

    .card-text-main {
        font-size: 1.9em;
        width: auto;
    }

    .card-main {
        background-color: var(--bs-dark) !important;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
}
