.card-home{
    margin-top: 130px; 
    position: absolute; 
    width: -webkit-fill-available; 
    margin-right: 12px;
}

.card-main {
    margin-top: -50px;
    text-align: center;
    padding: 8px; 
    font-size: 38px;
    background-color: rgba(15, 15, 16, 0.619);
    color: rgb(255, 37, 204);
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    text-shadow:
        3px 3px 3px rgba(2, 215, 248, 0.5),
        -1px -1px 3px rgba(2, 215, 248, 0.5),  
        1px -1px 3px rgba(0, 0, 0, 0.5),    
        -1px 1px 3px rgba(2, 215, 248, 0.5),
        1px 1px 3px rgba(0, 0, 0, 0.5);
}