//card da imagem
.card-body-img {
    background-color: transparent;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 1200px;
    height: auto;
    padding: 20px;
    z-index: 2;
}

//div vazia que será a "mesa"
.sub {
    background-color: var(--bs-gray-700);
    /* Usando a variável do Bootstrap /
border: 2px solid var(--bs-gray-800); / Borda de um tom mais escuro */
    border-radius: 5px;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.sub-div0,
.sub-div1,
.sub-div2 {
    height: 13px;
}

.sub-div0 {
    bottom: 690px;
    left: 35%;
    width: 100%;
    background-color: transparent;
    border: transparent;
}

.sub-div1 {
    bottom: 200px;
    left: 25%;
    width: 85%;
}

.sub-div2 {
    bottom: 410px;
    width: 35%;
    left: -5%;
}

//imagens principais

// Contêiner de imagens
.image-container {
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
}

// Estilos comuns para todas as imagens principais
.img-main {
    z-index: 1;
    object-fit: cover;
    height: auto;
    max-width: 100%;
    position: relative;
}

// Estilos específicos para cada imagem

.img-main-0 {
    width: 45%;
    cursor: pointer;
    z-index: 2; // Garantir que a luminária esteja na frente
}

.img-main-1 {
    bottom: 270px;
    left: 20%;
    width: 78%;
}

.img-main-2 {
    bottom: 445px;
    width: 30%;
    left: -35%
}

.img-main-3 {
    bottom: 112px;
    width: 85%;
}

// Responsividade

// Responsividade

@media (max-width: 800px) {
    .img-main, .sub, .card-body-img, .col-md-4 {
        display: none;
}
}