//card da imagem
.card-body-img {
    background-color: transparent;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 1200px;
    height: auto;
    padding: 20px; 
    z-index: 2;
}

//div vazia que será a "mesa"
.sub {
    position: absolute;
    background-color: var(--bs-gray-700); /* Usando a variável do Bootstrap */
    border: 2px solid var(--bs-gray-800); /* Borda de um tom mais escuro */
    transform: translate(-100%, 50%); /* Ajustado para ficar um pouco abaixo do meio */
    border-radius: 5px;
    z-index: 0;
}

.sub-div {
    bottom: 140px;
    left: 40%;
    width: 59vh;    
    height: 13px;
}

.sub-div2 {
    bottom: 340px;
    left: 19%;
    width: 21vh;
    height: 12px;
}

//imagens principais

// Estilos comuns para todas as imagens principais
.img-main {
    z-index: 1;
    object-fit: cover;
    height: auto;
    position: absolute;
}

// Estilos específicos para cada imagem

.img-main-0  {
    top: -690px;
    left: 65%;
    width: 32vh;
    cursor: pointer;
    position: relative;
}

.img-main-1  {
    top: -278px;
    left: 112px;
    width: 46vh;
    opacity: .8;
}

.img-main-2 {
    top: -105px;
    left: 10px;
    width: 16vh;
}

.img-main-3 {
    top: -55px;
    left: -13px;
    width: 8vh;
}

.img-main-4 {
    top: -112px;
    left: -11px;
    width: 32vh;
}

@media (max-width: 800px) {
    .img-main, .sub, .card-body-img, .col-md-4 {
        display: none;
    }
}