.index-left-content {
    margin-top: 55px;
    position: relative;

    // Imagem da lampada e config.
    .light-div {
        position: absolute;
        right: 220px;
        height: 365px;

        img {
            position: absolute;
            left: 0;
            z-index: 10;
            height: 60%;
            top: -25px;
            cursor: pointer;
        }

        .light-beam {
            position: absolute;
            left: 109.5px;
            top: 105px;
            z-index: 5;
            height: 122%;
            transform: translateX(-50%);
            width: 1070px;
            background: linear-gradient(to bottom, rgba(255, 244, 197, 0.632) 0%, rgba(255, 244, 0, 0.1) 100%);
            opacity: 0.9;
            animation: flicker 0.8s 0.2s forwards;
            clip-path: polygon(50% 0%, 70% 100%, 30% 100%);
        }

        @keyframes flicker {
            0% { opacity: 0; }
            50% { opacity: 0.5; }
            100% { opacity: 0.9; }
        }
        
        .transparent {
            display: none;
        }
    }
 
    //Configurações gerais da estante
    .shelf {
        position: absolute;
        
        ul {
            position: absolute;
            bottom: 0;
            margin-bottom: -5px;
            padding-left: 0;
            display: flex;
            width: 100%;
            justify-content: space-between;
            list-style-type: none;

            li{
                position: relative;
                flex: 1;
                text-align: center;

                img {
                    max-height: 100%;
                    max-width: 100%;
                    width: 100%; /* Faz a imagem ocupar toda a largura disponível no li */
                    height: auto;
                }
            }
        }
    }

    //Primeira estante + img
    .shelf-top {
        border-bottom: 9px solid var(--bs-gray-700);
        z-index: 4;
        height: 140px;
        width: 24%;
        left: 37%;
        top: 190px;

        .shelf-top-books {
            flex: 0 0 95%;
            margin-bottom: 2px;
        }
    }

    //Segunda estante + img
    .shelf-bottom {
        border-bottom: 13px solid var(--bs-gray-700);
        z-index: 6;
        height: 140px;
        width: 96%;
        left: 26%;
        top: 420px;

        .shelf-bottom-elfo {
            flex: 0 0 25%;
            margin-top: 340px;
        }

        .shelf-bottom-monitor {
            flex: 0 0 80%;
            position: absolute;
            bottom: 0;
            left: 41%;
            transform: translateX(0%);
            height: 50%;
            min-width: 60%;

            .monitor-bg {
                height: 102%;
                width: 116%;
                padding-left: 3.5px;
                padding-right: 5px;

                .screen {
                    background-color: rgb(0, 0, 0);
                    height: 75%;
                    padding: 3px;
                    border: 6px solid rgb(64, 64, 64);
                    border-radius: 5px;
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                    overflow: auto;
                    
                    .vscode {
                        background-color: rgb(30, 30, 30);
                        border: 1.6px solid rgb(64, 64, 64);
                        height: 100%;
                        width: 100%;
                        position: relative;

                        .menu-left {
                            background-color: rgb(51, 51, 51);
                            height: 100%;
                            width: 8%;
                            position: absolute;
                            top: 0;
                            left: 0;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            padding: 2px 0;
                            z-index: 2;
                        }
            
                        .menu-left i {
                            color: rgb(132, 132, 129);
                            font-size: 12px;
                            margin: 10px 0;
                        }

                        .vscode-explorer {
                            background-color: rgb(37, 37, 38);
                            height: 100%;
                            width: 29%;
                            position: absolute;
                            top: 0;
                            left: 0; 
                            display: flex;
                            flex-direction: column;
                            z-index: 1;

                            i {
                                margin-left: -20px;
                                color: rgb(201, 203, 204);
                                font-size: 12px;
                            }

                            .name-pasta {
                                position: absolute;
                                width: 40%;
                                height: 2.5px;
                                background-color: rgb(201, 203, 204);
                            }

                            .name-sub-pasta {
                                position: absolute;
                                width: 30%;
                                height: 2.5px;
                                background-color: rgb(201, 203, 204);
                            }
                        }

                        .menu-top {
                            background-color: rgb(45, 45, 45);
                            height: 10%;
                            width: 72%;
                            position: absolute;
                            top: 0;
                            left: 28%;
                            display: flex;
                            align-items: center;
                            margin: 0;
                            list-style: none;
                        }
            
                        .menu-top li {
                            display: flex;
                            align-items: center;
                            padding: 0 6px;
                            position: relative;
                        }
            
                        .menu-top li::before {
                            content: '';
                            display: inline-block;
                            width: 10px;
                            height: 10px;
                            border-radius: 50%;
                        }
            
                        .menu-top li.html::before {
                            background-color: red;
                        }
            
                        .menu-top li.css::before {
                            background-color: pink;
                        }
            
                        .menu-top li.js::before {
                            background-color: yellow;
                        }
            
                        .menu-top li.active {
                            background-color: rgb(30, 30, 30);
                            border-bottom: none;
                            border-top-left-radius: 5px;
                            border-top-right-radius: 5px;
                            z-index: 1;
                        }
                        
                        .vscode-number {
                            color: rgb(113, 113, 113);
                            font: 12px 'Times New Roman', Times, serif;
                            position: absolute;
                            left: 30%;
                            top: 20px;
                            line-height: 17px;  
                        }

                        .vscode-text {  
                            color: rgb(113, 113, 113);
                            margin-top: 20px;
                            line-height: 17px;
                            text-align: left;
                        }
                    }
                    
                    .screen-title {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        color: rgb(255, 255, 255);
                        font: 500 30px 'Wellfleet', cursive;
                        letter-spacing: 1px;
                        height: 100%;
                        margin: 5px;
                        animation: zoomIn 2s ease-in-out;
                    }
                    
                    @keyframes zoomIn {
                        0% {
                            opacity: 0;
                            transform: scale(0.5);
                        }
                        100% {
                            opacity: 1;
                            transform: scale(1);
                        }
                    }
                }

                .base {
                    height: 30px;
                    background-color: #BDBEC3;
                    border-bottom-left-radius: 12px;
                    border-bottom-right-radius: 12px;
                }

                .base-foot {
                    background-image: url("monitor.png");
                    background-repeat: no-repeat;
                    background-position: bottom;
                    height: 27px;
                }
            }
        }
    }
}


// Responsividade

@media (max-width: 800px) {
    .index-left-content {
        display: none;
    }
}   