/*Tela de Carregamento*/

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0; 
    bottom: 0; 
    background: rgb(0, 0, 0);
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    z-index: 9999;
}

.loading-text {
    font-family: cursive;
    font-size: 160px;
    color: transparent; /* Começa transparente */
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    animation: typing 2.5s steps(50, end) forwards, 
               blink-caret .50s step-end infinite, 
               colorizeText 2s forwards; /* Adicionado para colorir o texto */
    -webkit-text-stroke: 3.5px rgba(70, 186, 244, 0.871);
}

// configuraçoes da pag

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

* {
  box-sizing: border-box;
  outline: 0;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes colorizeText {
    0% { color: transparent; }
    100% { color: rgba(217, 8, 168, 0.75); }
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 4px;
    background-color: rgb(19, 18, 18);
    color: rgb(246, 9, 202);
    text-align: center;
    font-size: 16px;
}

//Cards de fundo
.card-main-1 {
    height: 100vh;
}

.card-main-2 {
    background-color: rgb(134, 5, 102);
    height: 100vh;
}

//Card do texto
.card-body-main {
    background-color: transparent;
    margin: 0 auto;
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    height: 100%;

}

.card-title-main {
    width: 30vh;
    color: white;
    transform: rotate(-5deg);
    transform-origin: bottom left;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}

.card-text-main {
    color: white;
    width: 65vh;
    font-size: 47px;
    font-family: 'Wellfleet', sans-serif;
}

//div que vazia que será a "mesa"
.sub-div {
    position: absolute;
    top: 62%; 
    left: 40%;
    width: 59vh;
    height: 13px;
    transform: translate(-100%, 50%); /* Ajustado para ficar um pouco abaixo do meio */
    background-color: var(--bs-gray-700); /* Usando a variável do Bootstrap */
    border: 2px solid var(--bs-gray-800); /* Borda de um tom mais escuro */
    border-radius: 5px;
}

.sub-div2 {
    position: absolute;
    top: 40%; 
    left: 18%;
    width: 20vh;
    height: 10px;
    transform: translate(-100%, 50%); /* Ajustado para ficar um pouco abaixo do meio */
    background-color: var(--bs-gray-700); /* Usando a variável do Bootstrap */
    border: 2px solid var(--bs-gray-800); /* Borda de um tom mais escuro */
    border-radius: 5px;
}

.image1 {
    position: absolute;
    bottom: -46px;    
    left: 25%;
    width: 80%;
    height: auto; /* ou qualquer altura que você precise */
    object-fit: cover; /* para ajustar a imagem conforme necessário */
    z-index: 1;
    opacity: .8;
}

.image2 {
    position: absolute;
    bottom: -5px;    
    left: 4%;
    width: 28%;
    height: auto; /* ou qualquer altura que você precise */
    object-fit: cover; /* para ajustar a imagem conforme necessário */
    z-index: 1;
}

.image3 {
    position: absolute;
    bottom: 5px;    
    left: -15px;
    width: 40%;
    height: auto; /* ou qualquer altura que você precise */
    object-fit: cover; /* para ajustar a imagem conforme necessário */
    z-index: 1;
}

.image4 {
    position: absolute;
    bottom: -22px;    
    left: -16px;
    width: 30vh;
    height: auto; /* ou qualquer altura que você precise */
    object-fit: cover; /* para ajustar a imagem conforme necessário */
    z-index: 1;
}

