// configuraçoes da pag

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

* {
    box-sizing: border-box;
    outline: 0;
}

//configuração do footer

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 4px;
    background: linear-gradient(180deg, rgb(30, 30, 30) 0%, rgba(30, 30, 30, 0.978) 50%, rgba(30, 30, 30, 0.858) 100%); 
    color: rgb(246, 9, 202);
    text-align: center;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;

    .heart {
        display: inline-block;
        position: relative;
        margin: 0 8px;
        height: 9px;
        width: 9px;
        background-color: rgb(246, 9, 202);
        transform: rotate(45deg);
        margin-bottom: 3px;
        animation: heartbeat 1s infinite; /* Aplica a animação */


         &::before,
        &::after {
            content: "";
            position: absolute;
            width: 9px;
            height: 9px;
            background-color: rgb(246, 9, 202);
            border-radius: 50%;
        }

        &::before {
            top: -7px;
            left: 0;
        }

        &::after {
            top: 0;
            left: -7px;
        }
    }
}

@keyframes heartbeat {
    0%, 100% {
        transform: scale(1) rotate(45deg);
    }
    50% {
        transform: scale(1.2) rotate(45deg);
    }
}

.card-body-main {
    background-color: transparent;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: 2;
}

.card-title-main {
    width: 25%;
    color: rgb(255, 255, 255);
    transform: rotate(-5deg);
    transform-origin: bottom left;
    font-family: 'Dancing Script', cursive;
    font-size: 2.1em;
}

.card-text-main {
    color: rgb(255, 255, 255);
    width: 56%;
    font-size: 3.2em;
    font-weight: 600;
    letter-spacing: .6px;
    font-family: 'Wellfleet', sans-serif;
    text-align: left;
    margin: 0 0 0 30px;
} 


