// configuraçoes da pag

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

* {
    box-sizing: border-box;
    outline: 0;
}

//configuração do footer

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 4px;
    background: linear-gradient(180deg, rgb(30, 30, 30) 0%, rgba(30, 30, 30, 0.978) 50%, rgba(30, 30, 30, 0.858) 100%); 
    color: rgb(246, 9, 202);
    text-align: center;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;

    .heart {
        display: inline-block;
        position: relative;
        margin: 0 8px;
        height: 9px;
        width: 9px;
        background-color: rgb(246, 9, 202);
        transform: rotate(45deg);
        margin-bottom: 3px;
        animation: heartbeat 1s infinite; /* Aplica a animação */


         &::before,
        &::after {
            content: "";
            position: absolute;
            width: 9px;
            height: 9px;
            background-color: rgb(246, 9, 202);
            border-radius: 50%;
        }

        &::before {
            top: -7px;
            left: 0;
        }

        &::after {
            top: 0;
            left: -7px;
        }
    }
}

@keyframes heartbeat {
    0%, 100% {
        transform: scale(1) rotate(45deg);
    }
    50% {
        transform: scale(1.2) rotate(45deg);
    }
}

.card-body-main {
    background-color: transparent;
    text-align: left;
    width: 84%;
    margin-left: 20%;

    .title-main {
        color: rgb(169, 142, 177);
        font-family: 'Manrope';
        font-weight: 600;
        font-size: 2em;
        margin: 0 auto;
    }

    .text-main {
        font-size: 3.9em;
        font-weight: 700;
        letter-spacing: .6px;
        font-family: 'Mulish';
        background: linear-gradient(125deg, rgb(246, 111, 242), rgb(255, 105, 180));
        background-clip: text;
        color: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin: 0 auto;
    }

    .interests {
        font-size: 1.5em;
        font-family: 'Manrope';
        color: rgb(169, 142, 177);
    }
}