.menu-toggle {
    /* Container para os itens do menu */   
    display: inline-block;
    right: 35px;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: rgb(28, 178, 237);
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}
  
.change .bar2 {opacity: 0;}
  
.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

.text {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 0, 183);
    text-shadow: 1px 1px 3px rgb(119, 232, 246);
    font-size: 35px;
    padding: 1px;
    cursor: default;
    text-align: center;
}

.text:hover {
    color: rgb(255, 0, 183);
}

/*TELA DO MENU*/

.sidenav {
    position: fixed;
    overflow-x: hidden;
    z-index: 1;
    transition: width 0.5s;
    top: 70px;
    right: 0;
    width: 0;
    padding-top: 36px; 
    background-color: rgb(13, 11, 13);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    .sidenav a {
        padding: 5px 5px 5px 20px;  
        text-decoration: none;
        color: rgb(72, 72, 72);
        display: block;
        transition: 0.3s;
    }

    .sidenav a:hover {
        color: rgb(241, 241, 241);
    }
    
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        left: 25px;
        margin-left: 50px;
    }
    
    @media screen and (max-height: 450px) {
        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 18px;}
    }
}

.navbar-nav {
    float: right;   
    margin-top: -36px;
    padding-top: 5px;
    font-size: 30px;
    height: 100vh;
    width: 48vh;
    justify-content: flex-start;

    .nav-link {
        padding-left: 15px;
        padding-right: 2px;
    }
}

.col {
    float: right;
    height: 100vh;
    margin-top: -36px;
    font-size: 40px;
    text-align: center;

    .github {
        background-color: rgb(2, 2, 2);
        width: 15vh;
    }

    .linkedin {
        background-color: rgb(6, 80, 192);
        width: 15vh;
    }
}
        
.vert-text {
    writing-mode: vertical-lr;
    transform: rotate(180deg); 
    text-align: center;
}





