.navbar-nav {
    font: 28px 'Montserrat';
    letter-spacing: .6px;
}

.nav-text {
    font-family: "Manrope", sans-serif;
    color: rgb(246, 9, 202);
    font-size: 30px;
    font-weight: 600; 
    cursor: default;
}

.nav-text p {
    display: inline-block;
    transition: transform 0.3s ease, color 0.3s ease; /* Adiciona a transição suave para a transformação e a cor */
    
    &:hover {
        transform: translateY(-5px); /* Levanta o texto */
        color: rgb(255, 222, 245); /* Altera a cor do texto ao passar o mouse */
    }
}

.nav-item, .nav-link {
    margin-right: 15px;
    font: 20px "Manrope", sans-serif;
    color: rgb(246, 9, 202) !important;
    font-weight: 600; 
    transition: font-size 0.3s ease; /* Adiciona uma transição suave */

    &:hover {
        font-size: 22px;
    }
}

.custom-toggle {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;

    input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgb(82, 78, 81);
        background: linear-gradient(90deg, rgb(82, 78, 81), rgb(129, 124, 128));
        border-radius: 34px;
        cursor: pointer;
        transition: 0.4s;

        &:before {
            position: absolute;
            content: "";
            height: 28px;
            width: 28px;
            left: 3px;
            bottom: 3px;
            background-color: white;
            background: url('moon') no-repeat center center / cover;
            border-radius: 50%;
            transition: 0.4s;
        }
    }

    input:checked + .slider {   
        background-color: rgb(194, 185, 194);
        background: linear-gradient(90deg, rgb(194, 185, 194), rgb(222, 217, 222));

        &:before {
            transform: translateX(26px);
            background: url('sun') no-repeat center center / cover;
        }
    }
}
