.navbar {
    background: rgb(34, 41, 55); 
    transition: background 0.5s ease;
}

.menu-sun {
    background: linear-gradient(180deg, rgb(139, 155, 178) 0%, rgba(139, 155, 178, 0.986) 50%, rgba(139, 155, 178, 0.876) 100%);
}   

.navbar-nav {
    font: 28px 'Montserrat';
    letter-spacing: .6px;
}

.nav-text {
    font-family: "Manrope", sans-serif;
    font-size: 30px;
    font-weight: 600; 
    color: rgb(218, 112, 214);
    cursor: default;
    margin-left: 150px;
    padding-top: 5px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.nav-text p {
    display: inline-block;
    transition: transform 0.3s ease, color 0.3s ease; 
    margin: 0;
    
    &:hover {
        transform: translateY(-6px); /* Levanta o texto */
        color: rgb(250, 220, 240); 
    }
}

.nav-text-sun {
    color: rgb(10, 11, 14);
    transition: transform 0.3s ease, color 0.3s ease; 

    &:hover {
        transform: translateY(-6px); /* Levanta o texto */
        color: rgb(250, 220, 240); 
    }
}

.nav-item, .nav-link {
    font: 20px "Manrope", sans-serif;
    font-weight: 700; 
    padding: 0 12px 0 12px;
    transition: font-size 0.3s ease, color 0.3s ease; /* Adiciona uma transição suave */

    &:hover {
        font-size: 23px;
    }
}

.nav-link-sun {
    color: rgb(10, 11, 14) !important;
    transition: color 0.3s ease;
}

.custom-toggle {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-right: 150px;

    input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgb(82, 78, 81);
        background: linear-gradient(90deg, rgba(82, 78, 81, 0.9) 0%, rgba(129, 124, 128, 0.9) 50%, rgba(150, 143, 148, 0.9) 100%); 
        border: solid 2px #fff;
        border-radius: 40px;
        cursor: pointer;
        transition: 0.4s;

        &:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 3px;
            bottom: 3px;
            background-color: white;
            background: url('moon') no-repeat center center / cover;
            border-radius: 50%;
            transition: 0.4s;
        }
    }

    input:checked + .slider {   
        background-color: rgb(194, 185, 194);
        background: linear-gradient(90deg, rgb(194, 185, 194), rgb(222, 217, 222));

        &:before {
            transform: translateX(26px);
            background: url('sun') no-repeat center center / cover;
        }
    }
}
