.index-left-content {
    margin-top: 55px;
    position: relative;

    // Variáveis para cores repetitivas
    $gray-51: rgb(51, 51, 51);
    $gray-37: rgb(37, 37, 38);
    $gray-30: rgb(30, 30, 30);
    $gray-45: rgb(45, 45, 45);
    $gray-64: rgb(64, 64, 64);
    $light-gray: rgb(201, 203, 204);

    // Imagem da lampada e config.
    .light-div {
        position: absolute;
        right: 220px;
        height: 365px;

        img {
            position: absolute;
            left: 0;
            z-index: 10;
            height: 60%;
            top: -25px;
            cursor: pointer;
        }

        .light-beam {
            position: absolute;
            left: 109.5px;
            top: 105px;
            z-index: 5;
            height: 122%;
            transform: translateX(-50%);
            width: 1070px;
            background: linear-gradient(to bottom, rgba(255, 244, 197, 0.632) 0%, rgba(255, 244, 0, 0.1) 100%);
            opacity: 0.9;
            animation: flicker 0.8s 0.2s forwards;
            clip-path: polygon(50% 0%, 70% 100%, 30% 100%);
        }

        @keyframes flicker {
            0% { opacity: 0; }
            50% { opacity: 0.5; }
            100% { opacity: 0.9; }
        }
        
        .transparent {
            display: none;
        }
    }
 
    //Configurações gerais da estante
    .shelf {
        position: absolute;
        
        ul {
            position: absolute;
            bottom: 0;
            margin-bottom: -5px;
            padding-left: 0;
            display: flex;
            width: 100%;
            justify-content: space-between;
            list-style-type: none;

            li{
                position: relative;
                flex: 1;
                text-align: center;

                img {
                    max-height: 100%;
                    max-width: 100%;
                    width: 100%; /* Faz a imagem ocupar toda a largura disponível no li */
                    height: auto;
                }
            }
        }
    }

    //estante + img
    .shelf-bottom {
        border-bottom: 13px solid rgb(92, 90, 91);
        z-index: 6;
        height: 140px;
        width: 96%;
        left: 26%;
        top: 420px;

        .shelf-bottom-elfo {
            flex: 0 0 25%;
            margin-top: 340px;
        }

        //Ajustes Monitor
        .shelf-bottom-monitor {
            flex: 0 0 80%;
            position: absolute;
            bottom: 0;
            left: 41%;
            transform: translateX(0%);
            height: 50%;
            min-width: 60%;

            .monitor-bg {
                height: 102%;
                width: 116%;
                padding: 0 5px 0 3.5px;

                //Ajustes tela
                .screen {
                    background-color: rgb(0, 0, 0);
                    height: 75%;
                    padding: 3px;
                    border: 6px solid $gray-64;
                    border-radius: 5px 5px 0 0;
                    overflow: auto;
                    
                    .vscode {
                        background-color: $gray-30;
                        border: 1.6px solid $gray-64;
                        height: 100%;
                        width: 100%;
                        position: relative;

                        .menu-left {
                            background-color: $gray-51;
                            height: 100%;
                            width: 8%;
                            position: absolute;
                            top: 0;
                            left: 0;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            padding: 2px 0;
                            z-index: 2;
                        }
            
                        .menu-left i {
                            color: rgb(132, 132, 129);
                            font-size: 12px;
                            margin: 10px 0;
                        }

                        .vscode-explorer {
                            background-color: $gray-37;
                            height: 100%;
                            width: 29%;
                            position: absolute;
                            top: 0;
                            left: 0; 
                            display: flex;
                            flex-direction: column;
                            z-index: 1;

                            i {
                                margin: -16px 0 0 14px;
                                color: $light-gray;
                                font-size: 12px;
                            }

                            .name-pasta, .name-sub-pasta {
                                position: absolute;
                                height: 2.5px;
                                background-color: $light-gray;
                            }
    
                            .name-pasta {
                                width: 40%;
                                margin: -16px 0 0 40px;
                            }
    
                            .name-sub-pasta {
                                width: 30%;
                                margin: -2px 0 0 46px;
                            }
                        }

                        .menu-top {
                            background-color: $gray-45;
                            height: 10%;
                            width: 72%;
                            position: absolute;
                            top: 0;
                            left: 28%;
                            display: flex;
                            align-items: center;
                            margin: 0;
                            list-style: none;
                        }
            
                        li {
                            display: flex;
                            align-items: center;
                            padding: 0 6px;
                            position: relative;

                            &::before {
                                content: '';
                                display: inline-block;
                                width: 10px;
                                height: 10px;
                                border-radius: 50%;
                            }

                            &.html::before {
                                background-color: red;
                            }

                            &.css::before {
                                background-color: pink;
                            }

                            &.js::before {
                                background-color: yellow;
                            }

                            &.active {
                                background-color: $gray-30;
                                border-top-left-radius: 5px;
                                border-top-right-radius: 5px;
                            }
                        }
                        
                        .vscode-content {
                            display: flex;
                            flex-direction: column;
                            width: 70%;
                            margin-left: 30%;
                            margin-top: 8%;
                        }
                        
                        .line {
                            display: flex;
                            align-items: center;
                            margin-bottom: 5px;
                        }
                        
                        .vscode-number {
                            color: rgb(113, 113, 113);
                            font: 12px 'Times New Roman', Times, serif;
                            width: 25px;
                            text-align: right;
                            padding-right: 10px;
                        }
                        
                        .vscode-text {
                            color: rgb(113, 113, 113);
                            line-height: 17px;
                            flex: 1;
                            font: 12px 'Times New Roman', Times, serif;
                            overflow-wrap: break-word; // Para garantir que o texto não quebre o layout
                            white-space: pre-wrap; // Mantém espaços e quebras de linha
                            text-align: left;
                            padding-left: 5px;
                        }
                    }
                }

                .base {
                    height: 30px;
                    background-color: #BDBEC3;
                    border-bottom-left-radius: 12px;
                    border-bottom-right-radius: 12px;
                }

                .base-foot {
                    background-image: url("monitor.png");
                    background-repeat: no-repeat;
                    background-position: bottom;
                    height: 27px;
                }
            }
        }
    }
}


// Responsividade

@media (max-width: 800px) {
    .index-left-content {
        display: none;
    }
}   