.title-projects {
    color: rgb(218, 112, 214);
    font-family: 'Mulish';
    font-weight: 600;
    font-size: 2.8em;
    text-align: center;
}

.github-link {
    font-size: 2rem; 
    color: #7f7e81; 
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
        color: #535253; 
    }

    i {
        display: inline-block;
        margin-right: 5px; 
    }
}