.title-projects {
    color: rgb(218, 112, 214);
    font-family: 'Mulish';
    font-weight: 600;
    font-size: 2.8em;
    text-align: center;
}

.btn-group {
    display: flex; 
    align-items: center; 
}

.btn-projects {
    background-color: transparent; 
    color: rgb(190, 77, 186);
    border: 2px solid rgb(190, 77, 186);
    border-radius: 50%; 
    width: 32px; 
    height: 32px; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem; 
    transition: background-color 0.3s ease, color 0.3s ease; 
    margin-right: 10px;

    &:hover {
        border: 2px solid rgb(245, 150, 242);
        color: rgb(245, 150, 242);
    }

    i {
        display: inline-block;
    }
}

.github-link {
    font-size: 2.1rem; 
    color: rgb(127, 126, 129); 
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
        color: rgb(83, 82, 83); 
    }

    i {
        display: inline-block;
    }
}

.text-projects {
    text-align: justify;
    font-family: 'Poppins';
    font-size: 0.9rem;
}

.tech-icons {
    display: flex; 
    justify-content: flex-start; 
    align-items: center; 
    color: rgb(128, 128, 128); 
    font-size: 1.5rem; 
    
    i {
        color: inherit;
    }
}

//MODO CLARO 

.light-mode {
    .title-projects {
        color: rgb(39, 44, 49);
    }

    .card, .card-title, .card-text, .modal-content, .modal-projects {
        background-color: rgb(156, 97, 151) !important;
    }

    .modal {
        background-color: rgb(92, 67, 83) !important;
    }

    .tech-icons {
        color: rgb(196, 197, 199);
    }

    .github-link, .github-link-txt {
        color: rgb(196, 197, 199) !important;
        
        &:hover {
            color: rgb(80, 75, 80) !important;
        }
    }

    .btn-projects {
        color: rgb(196, 197, 199);
        border: 2px solid rgb(196, 197, 199);

        &:hover {
            color: rgb(80, 75, 80); 
            border: 2px solid rgb(80, 75, 80);
        }
    }
}


//MODAL
.modal-projects {   
    border-radius: 10px;
    transition: box-shadow 0.3s ease;

    &:hover {
        box-shadow: 0 0 10px rgba(246, 138, 212, 0.778);
    }
}

.img-modal {
    border-radius: 10px;
    padding: 1px 0 2px 3px;
}

.card-modal {
    font-family: 'Manrope';
    margin: 4% 4% 1% 0;

    .btn-close-modal {
        font-size: 1.4rem;
        font-family: cursive;
    }
    
    .github-link-txt {
        font-size: 1.5rem;
        color: rgb(127, 126, 129); 
        text-decoration: none;
        transition: color 0.3s ease;
    
        &:hover {
            color: rgb(83, 82, 83); 
        }
    }

    .text-modal {
        font-size: 1rem;
        text-align: justify;
    }
}