.card-simbol {
    font-weight: 700;
    font-size: 5em;
    color: transparent;
    -webkit-text-stroke: 0.4px rgba(255, 255, 255, 0.692);
    position: absolute;
    top: 110px;
    left: 40%;
    background: transparent;
    animation: float 3s ease-in-out infinite;
}

.title-skills {
    color: rgb(218, 112, 214);
    font-family: 'Mulish';
    font-weight: 600;
    font-size: 2.8em;
    margin: 2% 30% 2% 1%;    ;
    text-align: center;
    max-width: 100%;
}

.card-img-skills {
    width: 10em;
    justify-content: center;
    background-color: rgb(33, 37, 41);
    border-radius: 8px;
    transition: box-shadow 0.3s ease-in-out; 

    &:hover {
        box-shadow: 0 0 5px rgb(218, 112, 214), 0 0 5px rgb(218, 112, 214), 
                    0 0 10px rgb(218, 112, 214), 0 0 20px rgb(218, 112, 214);
    }
}

.img-skills {
    width: 50%;
    height: 50%;
    margin: 10% 0;
    object-fit: contain;
}

.card-text-skills {
    font-family: 'Montserrat';
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-align: center;
    margin-top: auto;
    margin-bottom: 0;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.light-mode {
    .title-skills {
        color: rgb(39, 44, 49);
    }

    .card-img-skills {
        background-color: rgb(156, 97, 151);

        &:hover {
            box-shadow: 0 0 5px rgb(100, 30, 105), 0 0 10px rgb(100, 30, 105), 
                        0 0 10px rgb(100, 30, 105), 0 0 20px rgb(100, 30, 105);
        }
    }

    .card-simbol {
        color: transparent;
        -webkit-text-stroke: 0.8px rgb(31, 32, 35);
    }
}

//Resposividade

@media only screen and (min-width: 767px) and (max-width: 994px) {
    .card-simbol {
        display: none !important;
    }

    .title-skills {
        text-align: center !important;
        margin-right: 0;
    }
}

@media only screen and (min-width: 500px) and (max-width: 767px) {
    .card-simbol {
        display: none !important;
    }

    .title-skills {
        text-align: center;
        margin-right: 0;
    }
}

@media only screen and (min-width: 300px) and (max-width: 500px) {
    .card-simbol {
        display: none !important;
    }

    .title-skills {
        font-size: 2.5rem;
        text-align: center;
        margin-right: 0 !important;
    }
}
