<div class="row" id="about-me">
    <div class="card">
        <div class="card-gif" style="background-image: url('<%= image_url 'pokemon.gif' %>');"></div>
    </div>

    <div class="col-md-12 z-n1">
        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner" style="max-height: 100vh">
            
                <div class="carousel-item active">
                    <div
                        class="d-block w-100 h-100 custom-img"
                        style="background-image: url('<%= image_url 'img1.jpg' %>');"></div>
                </div>
                <div class="carousel-item">
                    <div
                        class="d-block w-100 h-100 custom-img"
                        style="background-image: url('<%= image_url 'img2.jpg' %>');"></div>
                </div>
                <div class="carousel-item">
                    <div
                        class="d-block w-100 h-100 custom-img"
                        style="background-image: url('<%= image_url 'img3.png' %>');"></div>
                </div>
            </div>
        </div>
    </div>
</div>