<div class="row g-0 position-relative" id="about-me">
    <div class="col col-about">
        <div class="card-about">
            <div class="card-about-text">
                <h2 class="text-title">Civil Engineer | Aspiring Programmer</h2>
                <p class="text-about">Me formei em Engenharia Civil e comecei a me interessar por programação no último ano da faculdade. 
                    Durante o técnico em edificações, fui apresentada de forma bem superficial ao mundo da programação por amigos do curso 
                    técnico de TI. Na época, achava tudo muito complicado (até descobrir cálculo integral tripla na faculdade!).
                </p>
                <p class="text-about">Quando comecei a estudar HTML, CSS e JavaScript, percebi que tinha encontrado uma nova paixão 
                    e um novo caminho para seguir. Agora, estou iniciando minha segunda graduação em Análise e Desenvolvimento de 
                    Sistemas. Enquanto isso, estou mergulhando de cabeça nos estudos avançados de JavaScript e Ruby on Rails.
                </p>                
            </div>
        </div>

        <div class="card-about-img">             
            <img class="img-girl" src="<%= image_url 'img-girl.png' %>" alt="me">
        </div>
    </div>
</div>
