<div class="row vh-100" id="about">
    <div class="col-lg-8 d-flex justify-content-center align-items-center">
        <div class="card-about p-4 shadow-lg slide-in-right">
            <h3 class="text-title-about mb-3">Um pouco sobre mim</h3>
            <p class="text-about">Meu primeiro contato com a programação rolou lá em 2012, na época do técnico. Alguns colegas 
            customizavam o layout do Tumblr usando HTML e CSS, e eu logo me interessei! Só que, na época, achei tudo meio complicado, 
            e como tinha o sonho de ser engenheira civil, acabei não seguindo por esse caminho.
            </p>
            <p class="text-about">Já no curso de Engenharia Civil, tive uma aula de algoritmo e lógica de programação onde 
            reacendeu minha curiosidade. Decidi, então, estudar programação em paralelo com a engenharia, me dedicando a 
            aprender mais sobre essa área fascinante.
            </p> 
            <p class="text-about">Me formei em 2023 como Engenheira Civil e, embora trabalhe na área, estou mergulhando de cabeça no mundo 
            da programação. Tenho feito vários cursos em linguagens específicas como JavaScript e Ruby on Rails, e recentemente iniciei 
            minha segunda graduação em Análise e Desenvolvimento de Sistemas. Estou pronta para explorar novos horizontes! 💻✨
            </p>                
        </div>
    </div>
    <div class="col-lg-4 d-flex justify-content-center align-items-center img-about">
        <%= image_tag 'eu.png', alt: 'Logo', class: 'img-fluid img-responsive slide-in-right' %>
    </div>
</div>