<div class="row g-0 position-relative" id="about-me">
    <div class="col col-body">
        <div class="card-about">
            <div class="card-about-text">
                <h2 class="text-title">Civil Engineer | Aspiring Programmer</h2> 
                <p class="text-about">No meu último ano em Engenheira Civil, decidi começar a estudar programação,
                    desde a época que cursei o técnico de edificações, tinha amigos que já estudavam programação,
                    e eu achava muito difícil (até ter aula de cálculo de integral tripla e estudo sistemático e unificado 
                    da transferência de quantidade de movimento, energia e matéria). Após iniciar os estudos com o básico de HTML, 
                    CSS e JS, descobri uma nova vocação e um novo objetivo, desta forma intensifiquei os meus dias de estudos para entender 
                    e melhorar meus conhecimentos. Atualmente estou iniciando a minha segunda graduação em Análise e Desenvolvimento de Sistemas, 
                    em paralelo estou estudando as linguagens JS e Ruby on Rails.
                </p>                 
            </div>
        </div>

        <div class="card-about-img">             
            <img class="img-girl" src="<%= image_url 'img-girl.png' %>" alt="me">
        </div>
    </div>
</div>
