<div class="container-fluid bg-black">

    <!-- Tela de Carregamento 
        <div id="loading-screen" class="loading-screen">
            <h1 id="loading-text" class="loading-text">CODE GIRL</h1>
        </div>
    -->

    <!-- NAVIGATION -->

    <nav class="navbar navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <img src="<%= image_url('logo1.jpg') %>" alt="Logo" width="55" height="auto" class="d-inline-block rounded-circle">
            <span class="text">Code Girl</span>

            <div>
                <div class="menu-toggle" id="menu-toggle">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </div>

                <div id="mySidenav" class="sidenav" style="width: 0;">
                    <ul class="navbar-nav bg-dark flex-grow-1 pe-3">
                        <li>
                            <a class="nav-link" href="#scrollspyHome">Home</a>
                        </li>
                        <li>
                            <a class="nav-link" href="#scrollspyAbout">About Me</a>
                        </li>
                        <li>
                            <a class="nav-link" href="#scrollspyChallenges">Challenges</a>
                        </li>
                    </ul>

                    <div class="col vert-text sidebar-items">
                        <div class="github">
                            <a href="https://github.com/NicolyMeneghesso" target="_blank" rel="noopener noreferrer">GitHub</a>
                        </div>
                        <div class="linkedin">
                            <a href="https://www.linkedin.com/in/nicoly-meneghesso-2b4577a9/" target="_blank" rel="noopener noreferrer">Linkedin</a>
                        </div>   
                    </div> 
                </div>
            </div>
        </div>
    </nav>
    -->
</div>