<div class="container-fluid bg-black">

    <!-- Tela de Carregamento 
        <div id="loading-screen" class="loading-screen">
            <h1 id="loading-text" class="loading-text">CODE GIRL</h1>
        </div>
    -->

    <!-- NAVIGATION -->

    <nav class="navbar navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <img src="<%= image_url('logo1.jpg') %>" alt="Logo" width="55" height="auto" class="d-inline-block rounded-circle">
            <span class="text">Code Girl</span>

            <div>
                <div class="menu-toggle" id="menu-toggle">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </div>

                <div id="mySidenav" class="sidenav">
                    <div class="col bg-dark justify-content-end">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#scrollspyHome">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#scrollspyAbout">About Me</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#scrollspyChallenges">Challenges</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col vert-text github">
                        <a href="https://github.com/NicolyMeneghesso" target="_blank" rel="noopener noreferrer">GitHub</a>
                    </div>
                    <div class="col vert-text linkedin">
                        <a href="https://www.linkedin.com/in/nicoly-meneghesso-2b4577a9/" target="_blank" rel="noopener noreferrer">Likedin</a>
                    </div>    
                </div>
            </div>
        </div>
    </nav>
</div>