    <!-- NAVIGATION -->

<nav class="navbar navbar-dark fixed-top">
    <div class="container-fluid">
        <span class="nav-text">Nicoly Meneghesso</span>

        <div>
            <div class="menu-toggle" id="menu-toggle">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>

            <div id="mySidenav" class="sidenav">
                <ul class="navbar-nav bg-dark flex-grow-1 pe-3">
                    <li>
                        <a class="nav-link" href="#home">Home</a>
                    </li>
                    <li>
                        <a class="nav-link" href="#about-me">About Me</a>
                    </li>
                    <li>
                        <a class="nav-link" href="#projects">Projects</a>
                    </li>
                </ul>

                <div class="col vert-text sidebar-items">
                    <div class="sidebar-vertical-item github">
                        <a href="https://github.com/NicolyMeneghesso" target="_blank" rel="noopener noreferrer">GitHub</a>
                    </div>
                    <div class="sidebar-vertical-item linkedin">
                        <a href="https://www.linkedin.com/in/nicoly-meneghesso-2b4577a9/" target="_blank" rel="noopener noreferrer">Linkedin</a>
                    </div>   
                </div> 
            </div>
        </div>
    </div>
</nav>

