<nav class="navbar navbar-dark fixed-top">
    <div class="container-fluid">
        <div class="nav-text">
            <p>&lt;</p><p>N</p><p>i</p><p>h</p><p>&gt;</p>
        </div>

        <ul class="nav justify-content-center" id="nav-link">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#home">Início</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#about-me">Sobre</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#projects">Projetos</a>
            </li>
        </ul>

        <label class="custom-toggle">
            <input type="checkbox" id="day">
            <div class="slider"></div>
        </label>

        <!--Configuração Menu toggle que só aparece em telas menores-->

        <button class="navbar-toggler d-md-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" 
            aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation" onclick="this.classList.toggle('change')">
                <span class="navbar-toggler-icon"></span>
        </button>

        <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header">
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav flex-grow-2 p-3">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#home">Início</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about-me">Sobre</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#projects">Projetos</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
