<div class="col col-sm-6 mb-3 mb-sm-0">
    <div class="card-img-projects p-3">
        <%= image_tag projects[:image], alt: projects[:alt], class: 'img-projects' %>
        <div class="card-body p-1">
            <p class="card-text-projects"><%= projects[:name] %></p>
        </div>
    </div>
</div>