<div class="col">
    <div class="card-img-skills p-3 h-100 d-flex flex-column align-items-center">
        <%= image_tag skill[:image], alt: skill[:alt], class: 'img-skills' %>
        <div class="card-body p-1">
            <p class="card-text-skills"><%= skill[:name] %></p>
        </div>
    </div>
</div>