<div id="skills">
    <div class="row">
        <!-- Título no topo -->
        <div class="col-12">
            <h1 class="title-skills text-center mt-4 mb-2 slide-in-left">Linguagens e Tecnologias</h1>
        </div>
    </div>
    <div class="row">
        <!-- Coluna para o Monitor -->
        <div class="col-md-3 monitor-skills">
            <div class="position-relative">

                <%= render partial: 'home/skills_monitor' %>
                <div class="card-simbol">
                    &#60; &#8260; &#62;
                </div>
            </div>
        </div>
        
        <!-- Coluna para os Cards -->
        <div class="col mt-4 d-flex flex-wrap justify-content-center align-items-start">    
            <div class="row row-skills slide-in-left">
                <% @skill_cards.each do |skill| %>
                    <div class="col-6 col-md-4 col-lg-3 mb-5 d-flex justify-content-center slide-in-left">
                        <div class="card-img-skills p-1 h-100 d-flex flex-column align-items-center">
                            <%= image_tag skill.image, class: 'img-skills' %>
                            <div class="card-body">
                                <p class="card-text-skills"><%= skill.name %></p>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
