<div class="vh-100 d-flex flex-column" id="skills">

    <!-- Título no topo -->
    <div class="row">
        <div class="col-12">
            <h1 class="title-skills text-center mt-3 mb-4 slide-in-left">Linguagens e Tecnologias</h1>
        </div>
    </div>

        
    <div class="row flex-grow-1">

        <!-- Coluna para o Monitor -->
        <div class="col-md-3 monitor-skills">
            <div class="position-relative">

                <%= render partial: 'home/skills_monitor' %>
                <div class="card-simbol">
                    &#60; &#8260; &#62;
                </div>
            </div>
        </div>
        
        <!-- Coluna para os Cards -->
        <div class="col-md-9 d-flex flex-wrap align-items-start justify-content-center mx-auto">    
            <div class="row row-skills slide-in-left">
                <% @skills.each do |skill| %>
                    <%= render partial: 'home/skills_card', locals: { skill: skill } %>
                <% end %>
            </div>
        </div>
    </div>

</div>
