<div class="row vh-100" id="skills">
    <div class="col-md-3 mb-3">
        <div class="position-relative">
            <div class="card-simbol">
                &#60; &#8260; &#62;
            </div>
        </div>
        <div class="shelf shelf-bottom slide-in-left">
            <ul>
                <li class="shelf-bottom-monitor">
                    <div class="monitor-bg">
                        <div class="screen">
                            <div class="vscode" id="monitorScreen">
                                <div class="menu-left">
                                    <i class="fas fa-file-alt" style="color: rgb(220, 242, 249);"></i> 
                                    <i class="fas fa-search"></i> 
                                    <i class="fas fa-code-branch"></i> 
                                    <i class="fas fa-user"></i> 
                                    <i class="fas fa-cog"></i> 
                                </div>

                                <ul class="vscode-explorer">
                                    <!-- Estrutura simplificada para a listagem de arquivos -->
                                    <% 3.times do %>
                                    <li>
                                        <i class="fas fa-angle-down"></i>
                                        <span class="name-pasta"></span>
                                        <% 6.times do %>
                                            <span class="name-sub-pasta"></span>
                                        <% end %>

                                        <% 6.times do %>
                                            <span class="name-sub-pasta" style="margin-top: 14px;"></span>
                                        <% end %>

                                        <% 6.times do %>
                                            <span class="name-sub-pasta" style="margin-top: 30px;"></span>
                                        <% end %>
                                    </li>  
                                    <% end %>                                              
                                </ul>

                                <ul class="menu-top">
                                    <li class="html"></li>
                                    <li class="css"></li>
                                    <li class="js active"></li>
                                </ul>

                                <div class="vscode-content" id="vscodeContent">
                                    <% 6.times do |i| %>
                                    <div class="line">
                                        <div class="vscode-number"><%= i + 10 %></div>
                                        <div class="vscode-text" id="line-<%= i %>"></div>
                                    </div>
                                    <% end %>
                                </div>

                            </div>
                        </div>
                        <div class="base"></div>
                        <div class="base-foot"></div>
                    </div>    
                </li>
            </ul>
        </div>
    </div>
        
    <div class="col-md-9">
        <h1 class="title-skills slide-in-left">Linguagens e Tecnologias</h1>
        <div class="row row-cols-2 row-cols-sm-3 row-cols-md-3 gx-2 gy-4 slide-in-left">
            <% @skills.each do |skill| %>
                <%= render partial: 'home/skills_card', locals: { skill: skill } %>
            <% end %>
        </div>
    </div>
</div>
