<div class="col-md-2">
    <div class="card-img-skills p-1 h-100 d-flex flex-column align-items-center">
        <%= image_tag skill[:image], alt: skill[:alt], class: 'img-skills' %>
        <div class="card-body p-1">
            <p class="card-text-skills"><%= skill[:name] %></p>
        </div>
    </div>
</div>

<!--PARA ADD MAIS IMGS SEMPRE IR NO CONTROLLER DO RAILS -> HOME_CONTROLLER -->