<div class="row vh-100" id="skills">

    <!-- Coluna para o Monitor -->
    <div class="col-md-3">
        <%= render partial: 'home/skills_monitor' %>

        <div class="position-relative">
            <div class="card-simbol">
                &#60; &#8260; &#62;
            </div>
            <h1 class="title-skills slide-in-left">Linguagens e Tecnologias</h1>
        </div>
    </div>
    
    <!-- Coluna para os Cards -->
    <div class="col-md-9 d-flex flex-column justify-content-center">    
        <div class="row slide-in-left">
            <% @skills.each do |skill| %>
                <%= render partial: 'home/skills_card', locals: { skill: skill } %>
            <% end %>
        </div>
    </div>

</div>
