<div class="row vh-100" id="skills">
    <div class="col-md-3">
        <div class="position-relative">
            <div class="card-simbol">
                &#60; &#8260; &#62;
            </div>
        </div>
        <div class="shelf shelf-bottom">
            <ul>
                <li class="shelf-bottom-monitor">
                    <div class="monitor-bg">
                        <div class="screen">
                            <div class="vscode" id="monitorScreen">
                                <div class="menu-left">
                                    <i class="fas fa-file-alt" style="color: rgb(220, 242, 249);"></i> 
                                    <i class="fas fa-search"></i> 
                                    <i class="fas fa-code-branch"></i> 
                                    <i class="fas fa-user"></i> 
                                    <i class="fas fa-cog"></i> 
                                </div>

                                <ul class="vscode-explorer">
                                    <li>
                                        <i class="fas fa-angle-down"></i>
                                        <span class="name-pasta"></span>
                                        <span class="name-sub-pasta"></span>
                                        <span class="name-sub-pasta"></span>
                                        <span class="name-sub-pasta" style="margin-top: 14px;"></span>
                                        <span class="name-sub-pasta" style="margin-top: 30px;"></span>

                                    </li>  

                                    <li>
                                        <i class="fas fa-angle-down"></i>
                                        <span class="name-pasta"></span>
                                        <span class="name-sub-pasta"></span>
                                        <span class="name-sub-pasta"></span>
                                        <span class="name-sub-pasta" style="margin-top: 14px;"></span>
                                        <span class="name-sub-pasta" style="margin-top: 30px;"></span>

                                    </li>    

                                    <li>
                                        <i class="fas fa-angle-down"></i>
                                        <span class="name-pasta"></span>
                                        <span class="name-sub-pasta"></span>
                                        <span class="name-sub-pasta"></span>
                                        <span class="name-sub-pasta" style="margin-top: 14px;"></span>
                                        <span class="name-sub-pasta" style="margin-top: 30px;"></span>

                                    </li>                                              
                                </ul>

                                <ul class="menu-top">
                                    <li class="html"></li>
                                    <li class="css"></li>
                                    <li class="js active"></li>
                                </ul>

                                <div class="vscode-content" id="vscodeContent">
                                    <div class="line">
                                        <div class="vscode-number">10</div>
                                        <div class="vscode-text" id="line-0"></div>
                                    </div>
                                    <div class="line">
                                        <div class="vscode-number">11</div>
                                        <div class="vscode-text" id="line-1"></div>
                                    </div>
                                    <div class="line">
                                        <div class="vscode-number">12</div>
                                        <div class="vscode-text" id="line-2"></div>
                                    </div>
                                    <div class="line">
                                        <div class="vscode-number">13</div>
                                        <div class="vscode-text" id="line-3"></div>
                                    </div>
                                    <div class="line">
                                        <div class="vscode-number">14</div>
                                        <div class="vscode-text" id="line-4"></div>
                                    </div>
                                    <div class="line">
                                        <div class="vscode-number">15</div>
                                    </div>  
                                </div>

                            </div>
                        </div>
                        <div class="base"></div>
                        <div class="base-foot"></div>
                    </div>    
                </li>
            </ul>
        </div>
    </div>
        
    <div class="col-md-9 d-flex flex-column align-items-center">
        <h1 class="title-skills">Linguagens e Tecnologias</h1>
        <div class="row row-cols-1 row-cols-md-4 g-5">
            <% @skills.each do |skill| %>
                <%= render partial: 'home/skills_card', locals: { skill: skill } %>
            <% end %>
        </div>
    </div>
</div>
