<div class="container bg-black bg-dark bg-gradiente">

    <%= render partial: "home/cards" %>
    <%= render partial: "home/menu" %>

    <!-- Tela de Carregamento 
            <div id="loading-screen" class="loading-screen">
                <h1 id="loading-text" class="loading-text">CODE GIRL</h1>
            </div>
    -->

     <div class="footer">
        Construído do zero com 🩷 © Copyright 2024, Nicoly Meneghesso. All rights reserved.
    </div> 

</div>