<div class="container-fluid p-0" id="home">

    <%= render partial: "home/menu" %>
    
    <div class="row row-main vh-100">
        <div class="col d-flex justify-content-center align-items-center">
            <div class="vscode-card">
                <img class="vscode-main img-fluid" src="<%= image_url 'vscode-main.png' %>" alt="code">
            </div>
            
            <div class="card-body card-body-main">
                <p class="title-main">Nicoly Meneghesso, de</p>
                
                <!-- Texto principal -->
                <div class="text-main-container">
                    <p class="text-main">Engenheira Civil a<br>Desenvolvedora</p>
                </div>
                <p class="interests">
                    <span id="text-main"></span><span id="cursor" class="cursor">|</span>
                </p>

                <!-- Botões responsivos -->
                <div class="d-grid gap-2 d-md-block">
                    <a class="btn btn-outline-dark btn-main me-md-3" target="_blank" rel="noopener noreferrer" href="https://linkedin.com/in/nicolymeneghesso" role="button">LinkedIn</a>
                    <a class="btn btn-outline-dark btn-main" target="_blank" rel="noopener noreferrer" href="https://github.com/NicolyMeneghesso?tab=overview&from=2024-07-01&to=2024-07-31" role="button">GitHub</a>
                </div>
            </div>

            <div class="shape-container">
                <!-- Diamante superior -->
                <svg class="diamond top z-n1" viewBox="0 0 100 100">
                    <rect x="5" y="5" width="90" height="90"/>
                </svg>
                
                <!-- Quadrado -->
                <svg class="square z-0" viewBox="0 0 150 150">
                    <rect x="5" y="5" width="140" height="140"/>
                </svg>
            </div>  
        </div>
    </div>
        
    <%= render partial: "home/about" %>
    <%= render partial: "home/projects" %>

</div>