<div class="container-fluid p-0" id="home">

    <%= render partial: "home/menu" %>
    
    <div class="row align-items-center justify-content-left vh-100">
        <div class="col-8">
            <div class="card-body-main">
                <p class="title-main">Nicoly Meneghesso</p>
                <!--<p class="card-text-main">E apresento a vocês o meu primeiro blog, ou talvez um portfólio, ou melhor um estudo diário.</p>-->
                <p class="text-main" id="text-main"></p>
                <p class="interests">Livros | Café | Códigos</p>
            </div>
        </div>
        <div class="col" style="color: white"> OI
        </div>
    </div>

        
    <%= render partial: "home/about" %>
    <%= render partial: "home/projects" %>
    
    <div class="footer py-2">
      Construído do zero com <span class="heart"></span> © Copyright 2024, Nicoly Meneghesso. All rights reserved.
    </div> 
</div>