<div class="container-fluid p-0" id="home">

    <%= render partial: "home/menu" %>
    
    <div class="row row-main align-items-center vh-100">
        <div class="col">
            <div class="card-body card-body-main" >
                <p class="title-main">Nicoly Meneghesso, de</p>
                
                <!-- Texto principal -->
                <div class="text-main-container">
                    <p class="text-main">Engenheira Civil a<br>Desenvolvedora</p>
                </div>
                <p class="interests">
                    <span id="text-main"></span><span id="cursor" class="cursor">|</span>
                </p>

                <!-- Botões responsivos -->
                <div class="d-grid gap-2 d-md-block">
                    <a class="btn btn-outline-dark btn-main me-md-3" target="_blank" rel="noopener noreferrer" href="https://linkedin.com/in/nicolymeneghesso" role="button">LinkedIn</a>
                    <a class="btn btn-outline-dark btn-main" target="_blank" rel="noopener noreferrer" href="https://github.com/NicolyMeneghesso?tab=overview&from=2024-07-01&to=2024-07-31" role="button">GitHub</a>
                </div>
            </div>
        </div>
    </div>

        
    <%= render partial: "home/about" %>
    <%= render partial: "home/projects" %>
    
</div>