<div class="container-fluid p-0" style="max-height: 100vh; color: rgb(34, 41, 55);" id="home">

    <%= render partial: "home/menu" %>

        <div class="col">
            <div class="card-main d-flex justify-content-center align-items-center" id="card-main">
                <div class="card-body-main text-center">
                    <p class="card-title-main fw-semibold" >👋 Hi, I'm Nicoly</p>
                    <p class="card-text-main">E apresento a vocês o meu primeiro blog, ou talvez um portfólio, ou melhor um estudo diário.</p>
                </div>
            </div>
        </div>
    </div>
        
    <%= render partial: "home/about" %>
    <%= render partial: "home/projects" %>
    
    <div class="footer py-2">
      Construído do zero com <span class="heart"></span> © Copyright 2024, Nicoly Meneghesso. All rights reserved.
    </div> 
</div>