<div class="row" id="Challenges">
        <div class="col-md-12 z-2">
            <%= render partial: "home/cards" %>
        </div>
    </div>
    <div style="height: 650px; background-image: url('<%= image_url 'home.png' %>'); background-size: cover; background-position: center; opacity: .5">
    </div>