@import 'home/*';

body, html {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0;
    background: linear-gradient(185deg, rgb(2, 6, 23), rgba(2, 6, 23, 0.951));

    /* Personalização da barra de rolagem */   
     &::-webkit-scrollbar {
        width: 12px; 
    }

    &::-webkit-scrollbar-track {
        background: rgba(50, 62, 74, 0.692);
    }

    &::-webkit-scrollbar-thumb {
        background: linear-gradient(180deg, rgb(2, 6, 23) 10%, rgb(36, 2, 63) 35%, rgb(56, 5, 104) 100%);
        border-radius: 6px; 
    }

    &::-webkit-scrollbar-thumb:hover {
        background: rgb(56, 70, 90);  
    }
}

.body-sun {
    background: rgb(235, 140, 188);

    &::-webkit-scrollbar {
        width: 12px; /* Largura da barra de rolagem */
    }
    
    &::-webkit-scrollbar-track {
        background: rgba(244, 197, 219, 0.637);
    }
    
    &::-webkit-scrollbar-thumb {
        background: linear-gradient(185deg, rgb(229, 153, 188) 0%, rgb(230, 144, 187) 30%, rgb(212, 131, 172) 60%, rgb(212, 131, 172) 100%); /* Gradiente inverso */
        border-radius: 6px;
    }
    
    &::-webkit-scrollbar-thumb:hover {
        background: rgb(242, 168, 236);
    }
}

//configuração do footer

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 4px;
    background: linear-gradient(180deg, rgb(30, 30, 30) 0%, rgba(30, 30, 30, 0.978) 50%, rgba(30, 30, 30, 0.858) 100%); 
    color: rgb(246, 9, 202);
    text-align: center;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;

    .heart {
        display: inline-block;
        position: relative;
        margin: 0 8px;
        height: 9px;
        width: 9px;
        background-color: rgb(246, 9, 202);
        transform: rotate(45deg);
        margin-bottom: 3px;
        animation: heartbeat 1s infinite; /* Aplica a animação */


         &::before,
        &::after {
            content: "";
            position: absolute;
            width: 9px;
            height: 9px;
            background-color: rgb(246, 9, 202);
            border-radius: 50%;
        }

        &::before {
            top: -7px;
            left: 0;
        }

        &::after {
            top: 0;
            left: -7px;
        }
    }
}

@keyframes heartbeat {
    0%, 100% {
        transform: scale(1) rotate(45deg);
    }
    50% {
        transform: scale(1.2) rotate(45deg);
    }
}
